body
  +ffmain()
  font-size: 16px

main
  position: relative

.container
  margin: 0 5%

.is-hidden
  display: none!important

.visually-hidden
  text-indent: -9999px
  font-size: 0

.title
  background: url("../../img/wave.png") center center no-repeat rgba(177, 177, 177, 0.5)
  background-size: cover
  text-align: center
  padding: 40px
  +fftitle(2.5rem)
