@import "../../../node_modules/font-awesome/scss/font-awesome"

@font-face
  font-family: 'FontAwesome'
  src: url("../../fonts/fontawesome-webfont.ttf")
  font-weight: normal
  font-style: normal

@mixin ffmain
  font-family: 'Century Gothic', sans-serif

@mixin fftitle($size)
  font-family: 'Century Gothic', sans-serif
  font-size: $size
  line-height: $size
  font-weight: normal