// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$facebook-name: 'facebook'
$facebook-x: 0px
$facebook-y: 0px
$facebook-offset-x: 0px
$facebook-offset-y: 0px
$facebook-width: 50px
$facebook-height: 50px
$facebook-total-width: 100px
$facebook-total-height: 100px
$facebook-image: '../img/sprite.png'
$facebook: (0px, 0px, 0px, 0px, 50px, 50px, 100px, 100px, '../img/sprite.png', 'facebook', )
$instagram-name: 'instagram'
$instagram-x: 50px
$instagram-y: 0px
$instagram-offset-x: -50px
$instagram-offset-y: 0px
$instagram-width: 50px
$instagram-height: 50px
$instagram-total-width: 100px
$instagram-total-height: 100px
$instagram-image: '../img/sprite.png'
$instagram: (50px, 0px, -50px, 0px, 50px, 50px, 100px, 100px, '../img/sprite.png', 'instagram', )
$twitter-name: 'twitter'
$twitter-x: 0px
$twitter-y: 50px
$twitter-offset-x: 0px
$twitter-offset-y: -50px
$twitter-width: 50px
$twitter-height: 50px
$twitter-total-width: 100px
$twitter-total-height: 100px
$twitter-image: '../img/sprite.png'
$twitter: (0px, 50px, 0px, -50px, 50px, 50px, 100px, 100px, '../img/sprite.png', 'twitter', )
$vk-name: 'vk'
$vk-x: 50px
$vk-y: 50px
$vk-offset-x: -50px
$vk-offset-y: -50px
$vk-width: 50px
$vk-height: 50px
$vk-total-width: 100px
$vk-total-height: 100px
$vk-image: '../img/sprite.png'
$vk: (50px, 50px, -50px, -50px, 50px, 50px, 100px, 100px, '../img/sprite.png', 'vk', )
$spritesheet-width: 100px
$spritesheet-height: 100px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($facebook, $instagram, $twitter, $vk, )
$spritesheet: (100px, 100px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
