//- необходимо этот блок оберуть в div с классом "player" и
//- "data-song" аттрибутом с путем до аудио без указания расширения
//- и "data-song-name" аттрибутом с указанием названия песни
//- .player(data-song="../../audio/metall/А.Смешной & zack11th - Один в поле воин" data-song-nameg="А.Смешной & zack11th - Один в поле воин")
.player__player
    .player__play-pause
        i.player__play-pause-icon.fa.fa-play(aria-hidden="true")
    .player__time 0:00
    .player__bar
        .player__setTime
        .player__range
            .player__progress
            .player__load
    .player__fulltime 0:00
    .player__mute
        i.player__mute-icon.fa.fa-volume-up(aria-hidden="true")
    input(type="range" min="0" max="100" value="100").player__volume
.player__song-name Название песни