$width: 480px
$height: $width/14.5
$small: 1.3
$xsmall: 1.7
$mob: 1.6

%timer
  text-align: center
  width: $height * 2
  height: $height
  line-height: $height
  @media (max-width: 1405px) and (min-width: 939px)
    width: $height * 2 /$small
    height: $height /$small
    line-height: $height /$small

%progressbar
  height: $height - 18px
  margin: 9px 0
  padding: 0
  width: 100%
  border-radius: 5px
  @media (max-width: 1405px) and (min-width: 939px)
    height: $height /$small - 18px

.player
  position: relative

  &__player
    color: #fefefe
    position: relative
    display: flex
    justify-content: flex-start
    align-items: center
    width: $width
    height: $height
    background: linear-gradient(180deg, #3f3e3c, #1e201f)
    @media (max-width: 1405px) and (min-width: 939px)
      width: $width /$small
      height: $height /$small
    @media (max-width: 1148px) and (min-width: 939px)
      width: $width /$xsmall
    @media (max-width: 515px)
      width: $width /$mob

  &__play-pause
    cursor: pointer
    width: $height
    height: $height
    padding: 8px $height/3
    border-right: 1px solid #535353
    @media (max-width: 1405px) and (min-width: 939px)
      width: $height /$small
      height: $height /$small
      padding: 4px $height/(3 * $small)

  &__time
    @extend %timer

  &__bar
    position: relative
    flex-grow: 1
    height: $height
    @media (max-width: 1405px) and (min-width: 939px)
      height: $height /$small

  &__setTime
    position: absolute
    top: -9px
    background: #b4b1ab
    color: rgba(22, 26, 27, 0.87)
    font-size: 12px
    padding: 3px
    border-radius: 3px
    z-index: 9
    display: none

  &__range
    @extend %progressbar
    margin: 7px 0
    box-sizing: content-box
    border-right: 2px solid #3d3d3d
    border-bottom: 2px solid #3d3d3d
    border-left: 2px solid #171717
    border-top: 2px solid #171717

  &__progress
    @extend %progressbar
    position: absolute
    top: 0
    z-index: 3
    width: 0
    background: linear-gradient(90deg, #0474e0, #d204fc)


  &__load
    @extend %progressbar
    position: absolute
    top: 0
    width: 0
    background: #383838

  &__fulltime
    @extend %timer
    border-right: 1px solid #535353

  &__mute
    cursor: pointer
    width: $height
    height: $height
    padding: 8px $height/3
    border-right: 1px solid #535353
    @media (max-width: 1405px) and (min-width: 939px)
      width: $height /$small
      height: $height /$small
      padding: 4px $height/(5 * $small)
  &__volume
    text-align: center
    width: $height * 2
    height: 8px
    -webkit-appearance: none
    border-radius: 2px
    outline: none
    border: 1px solid #383838
    background: linear-gradient(90deg, #0474e0, #d204fc)
    @media (max-width: 1405px) and (min-width: 939px)
      width: $height * 2 /$small
    @media (max-width: $smx)
      display: none
    &::-webkit-slider-thumb
      -webkit-appearance: none
      width: 14px
      height: 14px
      background: #fefefe
      border-radius: 50%
      cursor: pointer
    &::-ms-track
      width: 100%
      height: 8.4px
      cursor: pointer
      background: transparent
      border-color: transparent
      border-width: 16px 0
      color: transparent
    &::-ms-fill-lower
      background: #2a6495
      border: 0.2px solid #010101
      border-radius: 2.6px
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
    &::-ms-fill-upper
      background: #3071a9
      border: 0.2px solid #010101
      border-radius: 2.6px
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
    &::-ms-thumb
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
      border: 1px solid #000000
      height: 36px
      width: 16px
      border-radius: 3px
      background: #ffffff
      cursor: pointer

  &__song-name
    width: $width
    text-align: center
    padding: 5px
    @media (max-width: 1405px) and (min-width: 939px)
      width: $width /$small
    @media (max-width: 1148px) and (min-width: 939px)
      width: $width /$xsmall
    @media (max-width: 515px)
      width: $width /$mob