extends layouts/main
block pageTitle
    -var pageTitle = 'Backstage - SЫSЫNO Studio'

block vars

block header
    include sections/header
    include sections/floatMenu

block content
    include sections/backstage
    include sections/buttonUp

block footer
    include sections/footer
