extends layouts/main
block pageTitle
    -var pageTitle = 'Контакты - SЫSЫNO Studio'

block vars

block header
    include sections/header
    include sections/floatMenu

block content
    include sections/contacts
    include sections/buttonUp

block footer
    include sections/footer