extends layouts/main
block pageTitle
		-var pageTitle = 'SЫSЫNO Studio'

block vars

block header
	include sections/header
	include sections/floatMenu

block content
	include sections/hero
	include sections/portfolio
	include sections/price
	include sections/reviews
	include sections/bonus
	include sections/buttonUp

block footer
	include sections/footer
	include sections/modalSurprize
