extends layouts/main
block pageTitle
    -var pageTitle = 'Портфолио - SЫSЫNO Studio'

block vars

block header
    include sections/header
    include sections/floatMenu

block content
    include sections/portfoliofull
    include sections/buttonUp

block footer
    include sections/footer