extends layouts/main
block pageTitle
    -var pageTitle = 'Прайс - SЫSЫNO Studio'

block vars

block header
    include sections/header
    include sections/floatMenu

block content
    include sections/pricefull
    include sections/buttonUp

block footer
    include sections/footer