extends layouts/main
block pageTitle
    -var pageTitle = 'Отзывы - SЫSЫNO Studio'

block vars

block header
    include sections/header
    include sections/floatMenu

block content
    include sections/reviewsfull
    include sections/buttonUp

block footer
    include sections/footer