-var path = "../../img/backstage/"
-var img = ["back1.jpg", "back2.jpg", "back3.jpg", "back4.jpg", "back5.jpg", "back6.jpg", "back7.jpg", "back8.jpg"]

.backstage
    .backstage__header.container
        .backstage__title
            h1.title Backstage
        .backstage__description
            p Здесь Вы можете увидеть, как происходит процесс записи, оценить рабочую атмосферу. После того, как Вы станете нашим клиентом, велика вероятность, что Ваши фото появятся здесь (только при Вашем согласии).
    ul.backstage__container.container
        each item in img
            li.backstage__pic
                img(src=(path + item) alt="backstage-photo").backstage__img