.bonus
    .bonus__bg.bg
        .bg__bg4
        .bg__bg5
        .bg__bg6
        .bg__bg3
    .bonus__main
        .bonus__text Вы досмотрели страничку до конца! Держите подарок!
        a(href="").bonus__pic.modal-activated
            img(src="../../img/main/surprize.png" alt="surprise")
    .bonus__bg.bg
        .bg__bg4
        .bg__bg5
        .bg__bg6
        .bg__bg3