.contacts
    .contacts__title
        h1.title Контакты
    .contacts__stock.container
        h2.contacts__stock-head Обратите внимание на наши Акции
        p.contacts__stock-text Пришлите нам демо вашей записи в любом формате, и если она нам понравится, мы запишем её для вас бесплатно. Единственное условие - эта композиция обязательно попадет к нам в портфолио.
    .contacts__main.container
        p.contacts__text Вы можете связаться с нами несколькими способами:
        p
            b Адрес:
            = ' '
            span г.Омск, ул. Незнаючего, 11
        p
            b Телефон:
            = ' '
            span +7-913-555-33-66
        p
            b WatsApp:
            = ' '
            a(href="https://api.whatsapp.com/send?phone=89135553366" target="_blank") +7-913-555-33-66
        p
            b ВКонтакте:
            = ' '
            a(href="https://vk.com/zack11" target="_blank") vk.com/zack11
        p
            b E-mail:
            = ' '
            span zack11th@gmail.com