-var menu = ['backstage', 'Прайс', 'Портфолио', 'Отзывы', 'Контакты']
-var link = ['./backstage.html', './pricepage.html', './portfoliopage.html', './reviewpage.html', './contactspage.html']

nav.float-menu
    .nav
        a.nav__logo(href='index.html')
            img.nav__img(src="../../img/logo.png")
        ul.nav__menu
            each item, key in menu
                li.nav__menu-item
                    a.nav__link(href=link[key])= item
        a.nav__burger
            span
        .nav__phone +7-923-671-85-80