-var fmenu = ['backstage', 'Прайс', 'Портфолио', 'Отзывы', 'Контакты']
-var flink = ['./backstage.html', './pricepage.html', './portfoliopage.html', './reviewpage.html', './contactspage.html']

footer.footer
    .footer__place
        .footer__name SЫSЫNO Studio
        .footer__logo
            img(src="../../img/logo.png" alt="logo")
        .footer__adress г.Омск, ул.Незнаючего, 11
        .footer__phone +7-913-555-33-66
    .footer__menu
        .footer__head-menu Если вам было мало одного "меню", то вот запасное
        ul.footer__nav.fnav
            each item, key in fmenu
                li.fnav__menu-item
                    a.fnav__link(href=flink[key])= item
            li.fnav__menu-item Для симметрии
    .footer__quote Здесь должна быть мудрая цитата про печеньки. Но будем кратки: они у нас есть.