-var menu = ['backstage', 'Прайс', 'Портфолио', 'Отзывы', 'Контакты']
-var rootImg = '../../img/butttons'
-var image = ['/but_backstage.png', '/but_price.png', '/but_portfolio.png', '/but_otzyv.png', '/but_kontakt.png']
-var link = ['./backstage.html', './pricepage.html', './portfoliopage.html', './reviewpage.html', './contactspage.html']

header.header
    .header__top
        a.header__logo(href='index.html')
            img.header__img(src="../../img/logo.png" alt="logo")
        .header__deviz Мы не говорим, что вам нужно. Мы делаем то, что вы хотите.
    ul.header__menu.menu
        each item, key in menu
            li.menu__item
                a.menu__link(href=link[key])
                    img.menu__img(src=(rootImg+image[key]) alt=item)
                    p.menu__text= item
