.hero
    .hero__img
        img(src='../../img/main/hero.jpg' alt='mixer')
    .hero__text
        h1  Приветствуем на сайте студии звукозаписи Zack11th
        p
            span Все виды звукозаписи, студийная запись, сведение, исправление ваших косяков и прочие услуги, связанные с музыкой или звуком.
            br
            span У нас всегда есть бонусы и акции!
    a.hero__bonus.modal-activated(href="")
        img(src='../../img/bonus.png')