.modal.is-hidden
    .modal__title Акция
    .modal__text
        span Пришлите нам демо вашей записи в любом формате, и если она нам понравится, мы запишем её для вас бесплатно. Единственное условие - эта композиция обязательно попадет к нам в портфолио. Контакты для отрправки
        = ' '
        a(href="./contactspage.html") здесь