.portfolio
    .portfolio__title
        h2.title Портфолио
    .portfolio__btn
        a(href="./portfoliopage.html").btn Подробнее
    .portfolio__players
        .portfolio__player.player(data-song="../../audio/metall/А.Смешной & zack11th - Один в поле воин" data-song-name="А.Смешной & zack11th - Один в поле воин")
            include ../blocks/audioPlayer
        .portfolio__player.player(data-song="../../audio/instrumental/Vizorium - Skyrim (cover)" data-song-name="Vizorium - Skyrim (cover)")
            include ../blocks/audioPlayer
        .portfolio__player.player(data-song="../../audio/instrumental/zack11th - Univerce ForM" data-song-name="zack11th - Univerce ForM")
            include ../blocks/audioPlayer
        .portfolio__player.player(data-song="../../audio/etno/AeternA - My Land" data-song-name="AeternA - My Land")
            include ../blocks/audioPlayer
        .portfolio__player.player(data-song="../../audio/rock/О.Андреева & zack11th - Порог" data-song-name="О.Андреева & zack11th - Порог")
            include ../blocks/audioPlayer
        .portfolio__player.player(data-song="../../audio/rock/zack11th - Чёрная метка" data-song-name="zack11th - Чёрная метка")
            include ../blocks/audioPlayer