.portfoliofull
    .portfoliofull__head.container
        .portfoliofull__title
            h1.title Портфолио
        .portfoliofull__description Здесь Вы можете ознакомиться с нашими работами
    .portfoliofull__main.container
        .portfoliofull__style.style
            .style__head Instrumental
            .style__songs
                .style__player.player(data-song="../../audio/instrumental/Vizorium - Skyrim (cover)" data-song-name="Vizorium - Skyrim (cover)")
                    include ../blocks/audioPlayer
                .style__player.player(data-song="../../audio/instrumental/zack11th - Cнова в бой" data-song-name="zack11th - Cнова в бой")
                    include ../blocks/audioPlayer
                .style__player.player(data-song="../../audio/instrumental/zack11th - Univerce ForM" data-song-name="zack11th - Univerce ForM")
                    include ../blocks/audioPlayer
                .style__player.player(data-song="../../audio/instrumental/zack11th - В небеса" data-song-name="zack11th - В небеса")
                    include ../blocks/audioPlayer
                .style__player.player(data-song="../../audio/instrumental/zack11th - О чем грустишь" data-song-name="zack11th - О чем грустишь")
                    include ../blocks/audioPlayer
                .style__player.player(data-song="../../audio/instrumental/zack11th - Пекло" data-song-name="zack11th - Пекло")
                    include ../blocks/audioPlayer
        .portfoliofull__style.style
            .style__head Metall
            .style__songs
                .style__player.player(data-song="../../audio/metall/А.Смешной & zack11th - Один в поле воин" data-song-name="А.Смешной & zack11th - Один в поле воин")
                    include ../blocks/audioPlayer
                .style__player.player(data-song="../../audio/metall/Notion Of Disorder - Ядерная пыль" data-song-name="Notion Of Disorder - Ядерная пыль")
                    include ../blocks/audioPlayer
                .style__player.player(data-song="../../audio/metall/Notion Of Disorder - Марш мертвецов" data-song-name="Notion Of Disorder - Марш мертвецов")
                    include ../blocks/audioPlayer
                .style__player.player(data-song="../../audio/metall/Мертвый Город - Враг внутри" data-song-name="Мертвый Город - Враг внутри")
                    include ../blocks/audioPlayer
        .portfoliofull__style.style
            .style__head Rock
            .style__songs
                .style__player.player(data-song="../../audio/rock/О.Андреева & zack11th - Порог" data-song-name="О.Андреева & zack11th - Порог")
                    include ../blocks/audioPlayer
                .style__player.player(data-song="../../audio/rock/zack11th - Чёрная метка" data-song-name="zack11th - Чёрная метка")
                    include ../blocks/audioPlayer
                .style__player.player(data-song="../../audio/rock/Огни Фаэтона - Девки, секс и рок-н-ролл" data-song-name="Огни Фаэтона - Девки, секс и рок-н-ролл")
                    include ../blocks/audioPlayer
                .style__player.player(data-song="../../audio/rock/Алена - Просто послушай" data-song-name="Алена - Просто послушай")
                    include ../blocks/audioPlayer
        .portfoliofull__style.style
            .style__head Ethno
            .style__songs
                .style__player.player(data-song="../../audio/etno/AeternA - My Land" data-song-name="AeternA - My Land")
                    include ../blocks/audioPlayer
                .style__player.player(data-song="../../audio/etno/Eugene's Band - Воробей" data-song-name="Eugene's Band - Воробей")
                    include ../blocks/audioPlayer