.price
    .price__bg.bg
        .bg__bg1
        .bg__bg2
        .bg__bg3
    .price__main
        .price__description
            span Здесь указаны минимальные цены. Но они не так уж и минимальны. В первую очередь мы практикуем
                = ' '
            strong индивидуальный подход к каждому клиенту.
            br
            span Не забывайте, что у нас постоянно действуют акции!
        .price__title.title Прайс
        ul.price__cost.cost
            li
                span.cost__text Запись вокала
                span.cost__value от 100 руб./ч
            li
                span.cost__text Сведение композиции
                span.cost__value от 400 руб.
            li
                span.cost__text Хуманизация ударных инструментов из Ваших МИДИ
                span.cost__value от 200 руб.
        .price__btn
            a(href="./pricepage.html").btn Подробнее
    .price__bg.bg
        .bg__bg4
        .bg__bg5
        .bg__bg6
        .bg__bg3