.pricefull
    .pricefull__head
        .pricefull__title
            h1.title Прайс
        .pricefull__description
            span Здесь указаны минимальные цены. Но они не так уж и минимальны. В первую очередь мы практикуем
                = ' '
            strong индивидуальный подход к каждому клиенту.
            br
            span Не забывайте, что у нас постоянно действуют акции!
    .pricefull__main
        .pricefull__discont
            .pricefull__discont-title У нас всегда действуют акции, которые мы с радостью Вам предложим.
            .pricefull__stock.stock
                h2.stock__head Наши акции
                .stock__description
                    .stock__bg
                        img(src="../../img/discont/bg_discont.jpg" alt="discont")
                    .stock__aside
                        .stock__pic
                            img(src="../../img/discont/spring.png" alt="spring")
                        h3.stock__title Чумачечая весна
                        p.stock__text Пришлите нам демо вашей записи в любом формате, и если она нам понравится, мы запишем её для вас бесплатно.
        .pricefull__price
            .pricefull__price-title Актуальный прайс
            ul.pricefull__cost.cost
                li
                    span.cost__text Запись вокала
                    span.cost__value от 100 руб./ч
                li
                    span.cost__text Запись акустических инструментов
                    span.cost__value от 100 руб.
                li
                    span.cost__text Запись электроинструментов
                    span.cost__value от 50 руб.
                li
                    span.cost__text Сведение композиции
                    span.cost__value от 400 руб.
                li
                    span.cost__text Доработка аранжировки
                    span.cost__value от 300 руб.
                li
                    span.cost__text Мастеринг композиции
                    span.cost__value от 300 руб.
                li
                    span.cost__text Правка вокала
                    span.cost__value от 100 руб.
                li
                    span.cost__text Услуги сессионных музыкантов
                    span.cost__value от 500 руб.
                li
                    span.cost__text Хуманизация ударных инструментов из Ваших МИДИ
                    span.cost__value от 200 руб.
                li
                    span.cost__text Полный комплект
                    span.cost__value скидка 25 %
            .pricefull__btn
                a(href="./contactspage.html").btn Заказать