-
    var reviews = [
        {'src': '../../img/main/otziv1.jpg', 'text': 'Спасибо! Спасибоспасибо спасибпоспасиииибо! Спасибо спасибо! Все было супер, просто спасибо. Спасли нас. Молодцы. Спасибо!'},
        {'src': '../../img/main/NOD.jpg', 'text': 'Отлично и Великолепно! Это было не быстро, но зато качественно и дешево. К тому же мы попали на одну из акций!'},
        {'src': '../../img/main/Evgenyj.jpg', 'text': 'Отличная атмосфера, отзывчивость! Понимание с полуслова! Да и результат прям такой, какого хочешь, а то и даже лучше!'}
    ]

.reviewsfull
    .reviewsfull__head.container
        .reviewsfull__title
            h1.title Отзывы
        .reviewsfull__description Здесь Вы можете ознакомиться с отзывами наших клиентов
    .reviewsfull__main.container
        each item in reviews
            .reviewsfull__review.review
                .review__pic
                    img(src=item['src'])
                .review__text
                    p= item['text']