.reviews
    .reviews__head
        h2.reviews__title Отзывы
        a(href="./reviewpage.html").reviews__btn Смотреть все
    .reviews__slider.owl-carousel.owl-theme.slider
        .slider__slide
            .slider__pic
                img(src="../../img/main/otziv1.jpg" alt="review-photo")
            .slider__text
                p Спасибо! Спасибоспасибо спасибпоспасиииибо! Спасибо спасибо! Все было супер, просто спасибо. Спасли нас. Молодцы. Спасибо!
        .slider__slide
            .slider__pic
                img(src="../../img/main/NOD.jpg" alt="review-photo")
            .slider__text
                p Отлично и Великолепно! Это было не быстро, но зато качественно и дешево. К тому же мы попали на одну из акций!
        .slider__slide
            .slider__pic
                img(src="../../img/main/Evgenyj.jpg" alt="review-photo")
            .slider__text
                p Отличная атмосфера, отзывчивость! Понимание с полуслова! Да и результат прям такой, какого хочешь, а то и даже лучше!
