.backstage
  padding: 20px 0
  background-color: #818181
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 20px
    @media (max-width: $smx)
      flex-direction: column
  &__title
    width: 30%
    text-align: center
    @media (max-width: $smx)
      width: 100%
    h1
      padding-right: 0
      padding-left: 0
  &__description
    width: 60%
    text-align: center
    font-size: 1.5rem
    padding: 0 5px
    @media (max-width: $smx)
      width: 95%
      padding-top: 10px

  &__container
    display: flex
    align-items: center
    flex-wrap: wrap
    background-color: #b2b2b2
  &__pic
    width: 30%
    margin: 20px 1.66%
    @media (max-width: $sm)
      width: 45%
      margin: 10px 2.5%
    @media (max-width: $smx)
      width: 95%
  &__img
    width: 100%