.bonus
  background-color: #d0d0d0
  &__bg
    height: 1.1vw
    display: flex

  &__main
    display: flex
    justify-content: center
    align-items: center
    position: relative
    padding: 20px 0
    @media (max-width: $smx)
      flex-direction: column
  &__text
    width: 35%
    font-size: 2rem
    text-align: center
    @media (max-width: $smx)
      width: 100%
  &__pic
    width: 30%
    display: block
    &:hover
      animation: pulse 1.8s ease-in-out infinite
    @media (max-width: $smx)
      width: 50%
    img
      width: 100%
      padding-top: 10px

@keyframes pulse
  0%
    transform: rotate(0deg)
  30%
    transform: rotate(-10deg)
  60%
    transform: rotate(10deg)
  90%
    transform: rotate(0deg)
  100%
    transform: rotate(0deg)