.button-up
  position: fixed
  right: 20px
  bottom: 20px
  z-index: 999
  width: 50px
  cursor: pointer
  text-align: center
  display: none
  &:hover
    img
      width: 80%
  img
    width: 100%
    transition: .1s