.contacts
  background-color: #818181
  padding: 0 0 20px
  &__stock
    text-align: center
    background-color: #b2b2b2
    margin-bottom: 20px
    margin-top: 20px
    padding: 20px 0
    font-size: 1.5rem
    &-text
      padding: 20px 0

  &__main
    background-color: #b2b2b2
    padding: 20px
    p
      font-size: 1.5rem
      padding-top: 10px
      a
        color: black
        text-decoration: underline
        &:hover
          color: #4b4b4b
  &__text
    font-size: 2rem
    text-align: center
