%burger_button
  position: absolute
  top: 50%
  margin-top: -1px
  left: 50%
  margin-left: -10px
  width: 20px
  height: 2px
  background-color: #222

%pseudo_elems
  content: ''
  display: block
  transition: .2s

.float-menu
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 999
.nav



  display: flex
  padding: 0 10px
  justify-content: space-between
  align-items: center
  background-color: #292929

  +ffmain()
  font-size: $f-size
  @media (max-width: 868px)
    justify-content: space-around
  @media (max-width: $smx)
    justify-content: space-between

  &__logo
    padding: 10px
    height: calc(20px + #{$f-size} * 2)
  &__img
    height: 100%

  &__menu
    display: flex
    justify-content: center
    transition: 2s
    @media (max-width: $smx)
      display: none
    &--visible
      display: block
      position: absolute
      right: 0
      top: 100%
      background-color: #292929
      z-index: 99
  &__link
    display: block
    color: #ffffff
    padding: 20px 20px
    transition: .5s
    &:hover
      background-color: #6b6b6b
      text-decoration: underline
    @media (max-width: 639px)
      padding: 20px 10px

  &__burger
    display: none
    cursor: pointer
    position: relative
    @media (max-width: $smx)
      display: block
      width: 40px
      height: 40px
      margin: 5px 10px
      background-color: #fff
      border-radius: 50%
    span
      @extend %burger_button
      &:before
        @extend %pseudo_elems
        @extend %burger_button
        transform: translateY(-5px)
      &:after
        @extend %pseudo_elems
        @extend %burger_button
        transform: translateY(5px)
    &--active
      span
        height: 0
        &:before
          transform: rotate(45deg)
        &:after
          transform: rotate(-45deg)

  &__phone
    color: #ffffff
    text-align: center
    @media (max-width: 868px)
      display: none