%width
  width: 30%
  text-align: center
  padding: 40px 0
  @media (max-width: $sm)
    width: 50%
    padding: 20px 0
  @media (max-width: 415px)
    width: 100%

.footer
  background-color: #000
  color: white
  display: flex
  justify-content: space-around
  align-items: center
  @media (max-width: 415px)
    flex-direction: column

  &__place
    @extend %width
  &__name
    font-size: 2.5rem
  &__logo
    width: 50px
    margin: 0 auto
    img
      width: 100%
  &__adress
    font-size: 1.5rem
  &__phone
    font-size: 1.5rem

  &__menu
    @extend %width
    font-size: 1.1rem
    @media (max-width: $sm)
      display: none
  &__nav
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    font-weight: bold
    padding-top: 30px
    li
      width: 50%
      margin-bottom: 20px
      a
        color: white
        &:hover
          color: #848484

  &__quote
    @extend %width
    font-size: 1.5rem
    padding: 0 5px
    @media (max-width: 415px)
      padding-bottom: 20px
