$f-size: 1.6rem

.header
  position: relative
  background: url(../../img/bg_header.jpg) no-repeat #555555 center center
  background-size: cover
  padding-bottom: 80px
  @media (max-width: 412px)
    padding: 0
    margin: 0
    height: 0
    display: none

  &__top
    display: flex
    justify-content: space-between
  &__logo
    margin: 10px 20px
  &__img
    width: 15vmin
  &__deviz
    align-self: flex-start
    font-size: $f-size
    padding: 20px
    color: #fff
    text-align: center
    background-color: rgba(0, 0, 0, 0.8)

  &__menu
    width: 80%
    margin: 10px auto
    background-color: rgba(0, 0, 0, 0.8)
    @media (max-width: $sm)
      width: 100%


.menu
  display: flex
  justify-content: space-around
  padding: 20px 0
  &__item
    width: 20%
    &:hover
      background-color: #000
      .menu__img
        width: 60%
  &__link
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin: 20px
    height: calc(100% - 40px)
  &__img
    transition: .3s
    width: 80%
  &__text
    color: #ffffff
    font-size: $f-size
    padding-top: 20px