.hero
  display: flex
  position: relative
  background: url(../../img/main/bg_hero.jpg) no-repeat center center
  background-size: cover
  &__img
    flex-basis: 55%
    width: 50%
    margin: 20px 5%
    img
      width: 100%

  &__text
    flex-basis: 45%
    background-color: rgba(177, 177, 177, 0.5)
    margin-top: 25px
    padding: 0 2% 50px
    text-align: center
    font-size: 1.5rem
    h1
      font-size: 1.5rem
      font-weight: bold
      margin: 25px 0 30px

  &__bonus
    position: absolute
    height: 100px
    top: 100%
    right: 5%
    transform: translateY(-50px)
    z-index: 99
    img
      height: 100%
    @media (min-width: $lr)
      height: 10vmax
      transform: translateY(-110%)

@media (max-width: $smx)
  .hero
    flex-direction: column
    &__img
      width: 90%
    &__text
      margin-top: 0