.modal
  width: 600px
  +centerer-xy()
  position: fixed
  text-align: center
  font-size: 1.5rem
  z-index: 100
  border: 5px solid #818181
  background-color: #b2b2b2
  padding: 20px
  @media (max-width: $sm)
    width: 400px
  @media (max-width: $smx)
    width: 300px
  &__title
    font-size: 2rem
    font-weight: bold
  &__text
    padding: 10px 0