.portfolio
  display: grid
  background-color: #d0d0d0
  grid-template-areas: "title players players" "btn players players"
  @media (max-width: 818px)
    grid-template-areas: "title" "players" "btn"

  &__title
    grid-area: title
    margin-bottom: 10px

  &__btn
    grid-area: btn
    text-align: center
    margin: 30px auto

  &__players
    grid-area: players
    padding: 50px 20px 10px
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    @media (max-width: 818px)
      padding-top: 0
    @media (max-width: $smx)
      padding: 0

  &__player
    padding: 10px
    @media (max-width: $smx)
      padding: 10px 0