.pricefull
  padding: 20px 0 0
  background-color: #818181
  &__head
    display: flex
    justify-content: space-around
    align-items: center
    padding-bottom: 20px
    @media (max-width: $smx)
      flex-direction: column
  &__title
    width: 30%
    text-align: center
    @media (max-width: $smx)
      width: 100%
    h1
      padding-right: 0
      padding-left: 0
  &__description
    width: 60%
    text-align: center
    font-size: 1.5rem
    padding: 0 5px
    @media (max-width: $smx)
      width: 95%
      padding-top: 10px

  &__main
    display: flex
    @media (max-width: $md)
      flex-direction: column-reverse
      align-items: center
  &__discont
    width: 40%
    position: relative
    padding: 20px 0
    @media (max-width: $md)
      width: 60%
    @media (max-width: $sm)
      width: 90%
    @media (max-width: $smx)
      display: none
    &-title
      text-align: center
      font-size: 1.5rem
      padding: 60px 5px 0
      @media (max-width: $md)
        padding: 10px 5px
  &__price
    width: 60%
    background-color: #d0d0d0
    @media (max-width: $md)
      width: 90%
    &-title
      font-weight: bold
      text-align: center
      padding-top: 20px
      font-size: 1.6rem
  &__btn
    text-align: center
    height: 50px
    margin: 20px 0

.stock
  background-color: #9f9e9e
  position: absolute
  bottom: 0
  left: 0
  text-align: center
  width: calc(100% + 10px)
  @media (max-width: $md)
    position: relative
  &__head
    padding: 10px 0
  &__description
    position: relative
  &__bg
    width: 90%
    padding: 20px 0
    margin: 0 auto
    img
      width: 100%
  &__aside
    position: absolute
    width: 60%
    right: 0
    top: 0
    height: 100%
    padding-top: 25%
    padding-right: 30px
    padding-bottom: 30px
  &__pic
    position: absolute
    top: -10px
    right: -10px
    width: 70%
    img
      width: 100%
  &__title
    padding: 0 20px
    color: #63a05e
    font-size: 2rem
    text-shadow: #fff 0 2px 2px, #fff 2px 0 2px, #fff 0 -2px 2px, #fff -2px 0 2px
    @media (max-width: $md)
      font-size: 2.5rem
  &__text
    margin: 10px
    padding: 10px
    font-size: 1rem
    background-color: rgba(255, 255, 255, 0.9)
    @media (max-width: $md)
      font-size: 1.5rem


