.price
  background-color: #d0d0d0
  &__main
    display: grid
    grid-template-columns: 2fr 1fr
    grid-template-areas: "desc title" "cost btn"
    @media (max-width: $smx)
      grid-template-columns: 1fr
      grid-template-areas: "title" "desc" "cost" "btn"

  &__description
    grid-area: desc
    text-align: center
    font-size: 1.5rem
    padding: 10px

  &__title
    grid-area: title
  &__cost
    grid-area: cost

  &__btn
    grid-area: btn
    margin: 30px auto
    position: relative
    @media (max-width: $smx)
      margin-top: 0
    .btn
      display: block
      position: relative
      top: 50%
      transform: translateY(-80%)

  &__bg
    width: 100%
    height: 4.1vw
    display: flex

.bg
  &__bg1
    width: 60%
    background-color: #6d6d6d
  &__bg2
    width: 30%
    background-color: #b1b1b1
  &__bg3
    width: 10%
    background-color: #949494
  &__bg4
    width: 50%
    background-color: #6d6d6d
  &__bg5
    width: 25%
    background-color: #949494
  &__bg6
    width: 15%
    background-color: #b1b1b1

.cost
  padding: 20px 40px
  li
    border-bottom: 3px dotted #000
    position: relative
    padding: 0
    margin-bottom: 20px
    span
      background-color: #d0d0d0
      margin: 0
      bottom: -5px

    .cost__text
      position: relative
      margin-right: 7rem
      padding-right: 5px
      font-size: 1.7rem
    .cost__value
      position: absolute
      right: 0
      padding-left: 5px
      bottom: -12px
      font-size: 2rem
      font-weight: bold
      color: #ffffff
      text-shadow: #000 0 2px 2px, #000 2px 0 2px, #000 0 -2px 2px, #000 -2px 0 2px