.reviews
  position: relative
  background: url(../../img/main/bg_otziv.jpg) no-repeat #555555 center center
  background-size: cover
  padding: 30px 0 55px
  &__head
    width: 80%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: flex-end
    padding: 10px 0
  &__title
    font-size: 2.5rem
    color: white
  &__btn
    font-size: 1.7rem
    color: white
    &:hover
      color: #959595

  &__slider
    width: 80%
    margin: 0 auto
    padding: 20px
    background-color: rgba(255, 255, 255, 0.7)

.slider
  position: relative
  &__slide
    position: relative
    display: flex
    justify-content: space-around
    align-items: center
    @media (max-width: $smx)
      flex-direction: column
  &__pic
    width: 45%
    @media (max-width: $smx)
      width: 90%
    img
      width: 100%
  &__text
    width: 45%
    text-align: center
    font-size: 2rem
    @media (max-width: $smx)
      width: 90%
      padding-top: 10px

  .owl-nav
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    button
      width: 10%
      &:active
        img
          width: 80%
      img
        width: 100%
        transition: .1s
    .owl-prev
      position: absolute
      top: 50%
      right: calc(100% + 10px)
      transform: translateY(-50%)
      @media (max-width: $smx)
        right: calc(100% + 5px)
    .owl-next
      position: absolute
      top: 50%
      left: calc(100% + 10px)
      transform: translateY(-50%)
      @media (max-width: $smx)
        left: calc(100% + 5px)
  .owl-dots
    position: absolute
    top: calc(100% + 10px)
    width: 100%
    text-align: center
    .owl-dot
      width: 15px
      height: 15px
      background: white
      border: #ffffff 2px solid
      border-radius: 50%
      margin: 0 10px
    .active
      background: transparent

button
  &:focus
    outline: none
  &::-moz-focus-inner
    border: 0