.reviewsfull
  padding: 20px 0
  background-color: #818181
  &__head
    display: flex
    justify-content: space-around
    align-items: center
    padding-bottom: 20px
    @media (max-width: $smx)
      flex-direction: column
  &__title
    width: 30%
    text-align: center
    @media (max-width: $smx)
      width: 100%
    h1
      padding-right: 0
      padding-left: 0
  &__description
    width: 60%
    text-align: center
    font-size: 1.5rem
    padding: 0 5px
    @media (max-width: $smx)
      width: 95%
      padding-top: 10px

.review
  text-align: center
  background-color: #b2b2b2
  margin-bottom: 10px
  display: flex
  justify-content: space-around
  align-items: center
  padding: 20px 0
  @media (max-width: $smx)
    flex-direction: column
  &__pic
    @media (max-width: $smx)
      width: 90%
    width: 30%
    img
      width: 100%
  &__text
    width: 60%
    font-size: 1.5rem
    @media (max-width: $smx)
      width: 90%
      padding-top: 10px

