doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width')
        link(rel='stylesheet' href='css/main.min.css')
        block pageTitle
        title #{pageTitle}
    body
        block vars
        block header
        main
            block content
        block footer
        script(src="../../js/main.min.js")